@import "../styles/fonts.scss" ;
@import "../styles/device_dimensions.scss";
@import "./styles/tablet_revolutions.scss";
@import "./styles/lg_tablet_revolution.scss";
@import "./styles/desktop_revolution.scss";
@import "./styles/lg_desktop_revolution.scss";

.container{
    display: Flex;
    flex-direction: column;
    padding: 1em 1.5em;
    background-color: #fcf8f5;

    .top_left_container{
        display: Flex;
        flex-direction: column;
        
        h1{
            @include font_style_Bold();
            font-size: 2.5em;
            margin: 0px;
            font-weight: 800;
            margin-bottom: 1.5rem;
        }

        .test{
            display: none;
        } 
    
        .item_container{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 28em;
            margin-bottom: 1rem;
    
            .item{
                
                display: flex;
                flex-direction: column;
                width: 100%;
    
                img{
                    width: 100%;
                    border-radius: 1rem;
                    margin-bottom: 1.5em;
                }
    
                p{
                    margin: 0;
                    margin-bottom: 1.5px;
                }
                
                .secondary_text{
                    @include font_style_Regular();
                    font-size: 15px;
                    color: #99918e;
                }
    
                .top_text{
                    @include font_style_Bold();
                    font-size: 18px;
                    color: var(--Rose_300);
                }
    
                .cost{
                    @include font_style_Regular();
                    font-size: 16px;
                    color: #c25c36;
                }

                .btnAdd:hover, .btnAddMore:hover{
                    cursor: pointer;
                }
    
                .btnAdd, .btnAddMore{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 0.5rem;
                    border: 1px solid #c25c36;
                    background-color: white;
                    border-radius: 1.5rem;
                    gap: 8px;
                    width: 50%;
                    font-weight: 600;
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                    z-index: 1;
                    top: -7.5rem;
        
                    img{
                        width: 22px;
                        margin: 0;
                    }
                }

                .btnAddMore{
                    display: none;
                    background-color: #c25c36;
                    color: #fff;
                    
                    button{
                        display: flex;
                        height: 1.5rem;
                        width: 1.5rem;
                        justify-content: center;
                        align-items: center;
                        border-radius: 0.7rem;
                        background-color: transparent;
                        border: 1px solid #fff;

                        img{
                            width: 0.5rem;
                        }
                    }

                    button:nth-child(1){
                        margin-left: 0px;
                        margin-right: auto;
                    }

                    button:nth-child(3){
                        margin-right: 0px;
                        margin-left: auto;
                    }

                    .hover:hover{
                        cursor: pointer;
                    }
                }
            }
    
        }
    }

    .cart_container{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: white;
        padding: 0.5em 1em;

        h1{
            @include font_style_Bold(1.3rem, 600);
            color: #c25c36;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            
        }

        .cart_content{

            display: flex;
            flex-direction: column;

            p{
                @include font_style_Bold(0.8rem);
                color: #aca29d;
                margin-right: auto;
                margin-left: auto;
            }

            img{
                width: 55%;
                margin-right: auto;
                margin-left: auto;
            }
        }

        .quantity_name{
            font-weight: 600;
            font-size: 1rem;
            margin: 0px;
        }

        .item_container{
            display: flex;
            flex-direction: row;
            column-gap: 0.6rem;
            font-size: 0.8rem;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #bfb8b8;
            margin-bottom: 15px;

            .quantity, .quantity_price, .quantity_total, .quantity_close{
                color: #bfb8b8;
            }

            .quantity{
                color: #c83b0e;
                margin-right: 0.6rem;
            }
            
            // .quantity_price{

            // }

            .quantity_total{
                color: #685f5a;
                font-weight: 500;
            }

            .quantity_close{
                background-color: transparent;
                border-color: #bfb8b8;
                text-align: center;
                border-radius: 10px;
                height: fit-content;
                margin-left: auto;
                margin-right: 0px;
                border-width: 0.9px;
            }

            .quantity_close:hover{
                cursor: pointer;
                color: black;
                font-weight: 600;
            }
        }

        .total_order{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;

            p{
                font-size: 0.8rem;
                margin: 0px;
            }

            .cost{
                font-weight: 600;
                font-size: 1.3rem;
                margin-left: auto;
                margin-right: 0px;
            }
        }

        .watermark{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3.5rem;
            width: 100%;
            background-color: #fcf8f5;
            border-radius: 10px;
            margin-bottom: 20px;
            font-size: 0.7rem;

            img{
                margin-right: 10px;
            }
        }

        .confirm_order{
            border-radius: 20px;
            color: white;
            font-size: 0.8rem;
            width: 100%;
            height: 2rem;
            text-align: center;
            background-color: #c25c36;
            border-width: 1px;
            border-color: #c25c36;
        }

        .confirm_order:hover{
            cursor: pointer;
        }

    }

    
 
}

.overlay{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 5;
    height: 505dvh;

}

.popup{
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    padding: 2.5rem 2.5rem;
    position:sticky;
    bottom: 0;
    height: 88%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: white;
    z-index: 6;

    img{
        width: 15%;
        margin-bottom: 1rem;
    }

    .something{
        @include font_style_SemiBold(2.5rem, 400);
        margin: 0;
        margin-bottom: 0;
    }

    p{
        @include font_style_Regular(1rem, unset, #b0a4a2);
        margin: 0;
        margin-bottom: 2rem;
    }

    .order_container{
        display: flex;
        flex-direction: row;
        row-gap: 2rem;
        background-color: #fcf8f5;
        border-radius: 1rem;
        padding: 1rem 0.5rem;
        margin-bottom: 1rem;

        .order_item{
            display: grid;
            grid-template-columns: 25% 1fr 25%;
            border-bottom: 1px solid #b0a4a26b;
            width: 100%;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-bottom: 0.7rem;
            align-items: center;

            img{
                width: 70%;
                border-radius: 10%;
                margin: 0;
            }

            .middle_grid{
                display: flex;
                flex-direction: column;
                column-gap: 1rem;

                .name{
                    @include font_style_Bold(0.8rem, 500);
                    margin: 0;
                    margin-bottom: 0.5rem;
                }

                .properites{
                    display: flex;
                    flex-direction: row;
                    row-gap: 1rem;

                    .quantity{
                        @include font_style_Regular(0.9rem, 400, #c83b0e);
                        margin: 0;
                        margin-right: 1.2rem;
                    }

                    .cost{
                        @include font_style_Regular(0.9rem, 400);
                        margin: 0;
                        color: #bfb8b8;
                    }
                }

            }

            .total{
                @include font_style_Bold(1.1rem, 500, #685f5a);
                margin: 0;
                text-align: end;
            }

        }

    }

    .btn_new_order{
        width: 100%;
        height: 3rem;
        text-align: center;
        border-radius: 2rem;
        background-color: #c83b0e;
        border-color: #c83b0e;

        @include font_style_Bold(1rem, 400, white)
    }

    .btn_new_order:hover{
        cursor: pointer;
    }
}









