

<!-- Container -->

<section class="container">

    <!-- Heading -->
     <h1>Desserts</h1>

     <!-- Holds a list of item -->
     <section class="item_container" *ngFor="let item of items">

        <div id="test" class="item">
            <img [src]="item.image.mobile" alt="mobile image" />
            <p class="secondary_text">category : {{item.category}}</p>
            <p class="top_text">name : {{item.name}}</p>
            <p class="cost">cost : ${{item.price}}</p>

            <button class="btnAdd" type="button" (click)="AddCart(item)">
                <img src="../assets/images/icon-add-to-cart.svg" alt="cart icons">
                Add to Cart
            </button>
        </div>

     </section>

</section>